*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    height: 6.41vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
 .box>.headerLogo{
    display: block;
    width: 4.69vw;
    height: 2.777vh;
    margin: 1.816vh 0 1.816vh 16.63vw;
    background: url(/static/img/ICON.svg) no-repeat;
    background-size: 100%;
 }
 .select1{
    position: absolute;
    top: 0;
    left:63.22vw;
 }

 .select2{
    position: absolute;
    top: 0;
    left:68.5vw;
 }
 .sele1{
   color: #2D88C9;
   border: none;
   outline: none;
   font-size: 1.077vw;
   text-align: left;
   width: 4.878vw;
   height: 6.41vh;
}
 .sele{
    color: #2D88C9;
    border: none;
    outline: none;
    font-size: 1.077vw;
    text-align: left;
    width: 5.878vw;
    height: 6.41vh;
 }
 .item{
    font-size: 1.077vw;
 }
 .btn{
    background-color: #2D88C9;
    color: #fff;
    font-size: 1.077vw;
    padding: 0 0.5vh;
    border-radius: 0.416vh;
    cursor: pointer;
 }
 .header{
  
 }
 .Logo{
    background: url(/static/img/ICON.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 9.4vh;
    left: 14.85vw;
    width: 16.62vw;
    height: 9.935vh;
 }
 .chian{
    width: 32.82vw;
    height: 9.829vh;
    border:1.5px solid  #2D88C9;
    position: absolute;
    top: 28.41vh;
    left:6.77vw;
    cursor: pointer;
    color: #2D88C9;
    background-color: #fff;
 }
 .chian>.img{
    width: 3.75vw;
    height: 3.75vw;
    position: absolute;
    top:1vh;
    left:0.8vw;
    background: url(/static/img/china.svg) no-repeat;
    background-size: 100%;
 }
 .other>.img{
    width: 3.75vw;
    height: 3.75vw;
    position: absolute;
    top:1vh;
    left:0.8vw;
    background: url(/static/img/other.svg) no-repeat;
    background-size: 100%;
 }
 .chian>.text{
    width: 25.39vw;
    height: 9.829vh;
    line-height: 9.829vh;
    position: absolute;
    top:0;
    left:5.26vw;
    font-size: 1.595vw;
}
 .other>.text{
    width: 25.39vw;
    height: 9.829vh;
    line-height: 9.829vh;
    position: absolute;
    top:0;
    left:5.26vw;
    font-size: 1.595vw;
 }
 .chian>.right{
    width: 5vw;
    height: 9.829vh;
    line-height: 9.829vh;
    position: absolute;
    right:-2vw;
    top:0;
    font-size: 1.595vw;
}
 .other>.right{
    width: 5vw;
    height: 9.829vh;
    line-height: 9.829vh;
    position: absolute;
    top:0;
    right:-2vw;
    font-size: 1.595vw;
 }
 .other{
    width: 32.82vw;
    height: 9.829vh;
    border:1.5px solid  #2D88C9;
    position: absolute;
    top: 40.38vh;
    cursor: pointer;
    left:6.77vw;
    color: #2D88C9;
 }
 .other:hover{
    background-color: #2D88C9;
    color: #fff;
 }
 .chian:hover{
    background-color: #2D88C9;
    color: #fff;
 }
 .close{
    width: 2.5vw;
    height: 2.5vw;
    background: url(/static/img/x-circle.svg) no-repeat;
    background-size: 100%;
    margin-left: -2vw;
 }